<head>
<style type="text/css">
header {
  display: none;
  display:none;
}
</style>
</head>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <div class="col-2">
      <%= link_to posts_path, class: "navbar-brand" do %>
        <h2>HogoNyan</h2>
      <% end %>
    </div>
    <div class="col-10">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? && current_user.is_active == true %>
          <li><%= link_to "保護猫サイトへ", requests_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %></li>
          <li><%= link_to "新規", new_post_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %></li>
          <li><%= link_to "マイページ", sns_home_user_path(current_user),class: "text-dark btn btn-outline-secondary mx-2 nav-link" %></li>
        <% else %>
          <li><%= link_to "保護猫サイトへ", requests_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
