<%= render 'header' %>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <% @posts.each do |post| %>
        <div class="row">
          <div class="card mx-auto" style="width: 30rem;">
            <%= link_to sns_home_user_path(post.user.id) do %>
              <%= post.user.nickname %>
            <% end %>
            <div class="sns-card-image">
              <% if post.post_images.count > 0 %>
                <%= image_tag post.post_images.first, class: "post-image" %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= post.body %></p>
              <p class="card-text">🐱<%= post.tags.map(&:name).join(' 🐱') %></p>
              <%= link_to "詳細", post_path(post) %>
              <div id="favorite_buttons_<%= post.id %>">
          　　  　<%= render "public/sns_favorites/favorites", post: post %>
        　     </div>
              <div class="comments">
                <% if post.comments.present? %>
                  <p>コメント件数：<%= post.comments.count %></p>
                  <% post.comments.each do |comment| %>
                    <%= comment.user.nickname %>
                    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
                  <% end %>
                <% else %>
                  <p>コメントはまだありません</p>
                <% end %>
              </div>
          　   <div class="form-group">
                <%= form_with(model: @comment, url: post_comments_path(post), local: true) do |f| %>
                  <!--エラーメッセージ-->
                  <%= render 'layouts/error_messages', model: f.object %>
                  <%#= f.hidden_field :post_id, value: post.id %>
                  <%= f.text_area :content, rows:'1',placeholder: "コメントをここに",class: "form-control" %>
                  <%= f.submit "送信する" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>