<%= render 'public/posts/header' %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="row mb-3">
        <div class="mx-auto" style="width: 30rem;">
          <%= search_form_for @p, url: search_posts_path, class: "input-group" do |f| %>
            <%= f.text_field :tags_name_or_user_nickname_eq, placeholder: "キーワードから探す", class: "form-control" %>
            <%= f.submit "検索", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="card mx-auto mb-2" style="width: 30rem;">
            <div class="my-1">
              <%= link_to sns_home_user_path(post.user.id), class: "text-brown text-decoration-none" do %>
                <% if post.user.sns_image.attached? %>
                  <%= image_tag post.user.sns_image, size: '50x50', class: "rounded-circle img-thumbnail m-1" %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpeg'), size: '50x50', class: "rounded-circle img-thumbnail my-1 mx-2" %>
                <% end %>
                <%= post.user.nickname %>
              <% end %>
            </div>
            <div>
              <% if post.post_images.count > 0 %>
                <%= image_tag post.post_images.first, class: "post-index-imag img-thumbnail" %>
              <% end %>
            </div>
            <div class="card-body">
              <div id="favorite_buttons_<%= post.id %>">
          　　  　<%= render "public/sns_favorites/favorites", post: post %>
        　     </div>
              <p class="card-text"><%= post.body %></p>
              <p class="card-text">#<%= post.tags.map(&:name).join(' #') %></p>
              <%= link_to post_path(post) do %>
                <p class="card-text text-secondary">
                コメント<%= post.comments.count %>件をすべて見る
                </p>
              <% end %>
              <% if user_signed_in? %>
                <%= render 'public/comments/form', comment: @comment, post: post %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>