<%= render 'public/posts/header' %>
<div class="container">
  <div class="row">
    <%= search_form_for @p, url: search_posts_path do |f| %>
      <%= f.text_field :body_cont, placeholder: "キーワードから探す", class: "input-box" %>
    <% end %>
    <div class="col-6 mx-auto">
      <% @posts.each do |post| %>
        <div class="row">
          <div class="card mx-auto" style="width: 30rem;">
            <%= link_to sns_home_user_path(post.user.id) do %>
              <%= post.user.nickname %>
            <% end %>
            <div>
              <% if post.post_images.count > 0 %>
                <%= image_tag post.post_images.first, class: "img-thumbnail" %>
              <% end %>
            </div>
            <div class="card-body">
              <div id="favorite_buttons_<%= post.id %>">
          　　  　<%= render "public/sns_favorites/favorites", post: post %>
        　     </div>
              <p class="card-text"><%= post.body %></p>
              <p class="card-text">🐱<%= post.tags.map(&:name).join(' 🐱') %></p>
              <%= link_to post_path(post) do %>
                <p class="card-text text-secondary">
                コメント<%= post.comments.count %>件をすべて見る
                </p>
              <% end %>
              <%= render 'public/comments/form', comment: @comment, post: post %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>