<%= render 'header' %>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <% @posts.each do |post| %>
        <div class="row">
          <div class="card mx-auto" style="width: 30rem;">
            <%= link_to sns_home_user_path(post.user.id) do %>
              <%= post.user.nickname %>
            <% end %>
            <div class="sns-card-image">
              <% if post.post_images.count > 0 %>
                <%= image_tag post.post_images.first, class: "post-image" %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= post.body %></p>
              <p class="card-text">🐱<%= post.tags.map(&:name).join(' 🐱') %></p>
              <%= link_to "詳細", post_path(post) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>