<%= render 'public/posts/header' %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="row mb-3">
        <div class="mx-auto" style="width: 30rem;">
          <%= search_form_for @p, url: search_posts_path, class: "input-group" do |f| %>
            <%= f.text_field :tags_name_or_user_nickname_eq, placeholder: "キーワードから探す", class: "form-control" %>
          <% end %>
        </div>
      </div>
      <% @results.each do |result| %>
        <div class="row">
          <div class="card mx-auto mb-2" style="width: 30rem;">
            <div class="my-1">
              <%= link_to sns_home_user_path(result.user.id), class: "text-brown text-decoration-none" do %>
                <% if result.user.sns_image.attached? %>
                  <%= image_tag result.user.sns_image, size: '50x50', class: "rounded-circle img-thumbnail p-3" %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpeg'), size: '50x50', class: "rounded-circle img-thumbnail p-3" %>
                <% end %>
                <%= result.user.nickname %>
              <% end %>
            </div>
            <div>
              <% if result.post_images.count > 0 %>
                <%= image_tag result.post_images.first, class: "post-index-imag img-thumbnail" %>
              <% end %>
            </div>
            <div class="card-body">
              <div id="favorite_buttons_<%= result.id %>">
          　　  　<%= render "public/sns_favorites/favorites", post: result %>
        　     </div>
              <p class="card-text"><%= result.body %></p>
              <p class="card-text">#<%= result.tags.map(&:name).join(' #') %></p>
              <%= link_to post_path(result) do %>
                <p class="card-text text-secondary">
                コメント<%= result.comments.count %>件をすべて見る
                </p>
              <% end %>
              <%= render 'public/comments/form', comment: @comment, post: result %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>