<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h5 class="p3">取引一覧</h5>
        <table class="table shadow-sm">
          <tr>
            <therd>
              <th colspan=2>募集タイトル</th>
              <th>名前</th>
              <th>最新メッセージ</th>
            </therd>
          </tr>
          <% @another_user_rooms.each do |room| %>
          <tr>
            <td class="align-middle">
              <% if room.request.request_images.count > 0 %>
                <%= image_tag room.request.request_images.first, size: "100x100", class: "img-thumbnail" %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to room_path(room.room) do %>
                <%= room.request.title %>
              <% end %>
            </td>
            <td class="align-middle"><%= room.user.last_name %> <%= room.user.first_name %></td>
            <td class="align-middle text-nowrap">
              <% if room.room.chats.present? %>
                <%= Chat.find_by(id: room.room.chat_ids.last).content %>
              <% else %>
                <p>メッセージはまだありません</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>