<div class="row">
  <div class='col-9 mx-auto'>
    <%= search_form_for @p, url: search_requests_path do |f| %>
      <div class='row'>
        <div class='col-6'>
          <%= f.label :prefecture_id_eq, '地域', class: 'label' %>
          <%= f.collection_select :prefecture_id_eq, Prefecture.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'form-control' %>
        </div>
        <div class='col-6'>
          <%= f.label :breed_eq, '猫種', class: 'label' %>
          <%= f.select :breed_eq, Request.breeds.map{|k,v| [Request.breeds_i18n[k], v]},  include_blank: '指定なし', class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class='col-4'>
          <%= f.label :status_eq, '状況', class: 'label' %>
          <%= f.select :status_eq, Request.statuses.map{|k,v| [Request.statuses_i18n[k], v]},  include_blank: '指定なし', class: 'form-control' %>
        </div>
        <div class='col-4'>
          <%= f.label :size_eq, '大きさ', class: 'label' %>
          <%= f.select :size_eq, Request.sizes.map{|k,v| [Request.sizes_i18n[k], v]},  include_blank: '指定なし', class: 'form-control' %>
        </div>
        <div class='col-4'>
          <%= f.label :sex_eq, '性別', class: 'label' %>
          <%= f.select :sex_eq, Request.sexes.map{|k,v| [Request.sexes_i18n[k], v]},  include_blank: '指定なし', class: 'form-control' %>
        </div>
      </div>
      <%= f.submit class: "btn btn-success"%>
  <% end %>
  </div>
</div>
