<%= render 'public/posts/header' %>
<% notifications = @notifications.where.not(visiter_id: current_user.id) %>
<% if notifications.exists? %>
  <div class="col-md-4 mx-auto d-flex justify-content-end align-items-center">
    <%= link_to "すべて削除", destroy_all_user_notifications_path(current_user), method: :patch, class: "btn btn-outline-danger btn-sm" %>
  </div>
  <% notifications.each do |notification| %>
    <%= render 'public/notifications/index', notification: notification %>
  <% end %>
  <div class="d-flex justify-content-center align-items-center">
    <%= paginate notifications %>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center">
    <p>通知はありません</p>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <%= paginate notifications %>
  </div>
<% end %>