<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h3>会員情報編集</h3>
      <%= form_with model: @user, url: user_path, local: true  do |f| %>
        <div class="row">
          <%= f.label :メールアドレス %>
        </div>
        <div class="row">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="row">
          <%= f.label :お名前 %>
        </div>
        <div class="row">
          <%= f.label :性 %><%= f.text_field :last_name %><%= f.label :名 %><%= f.text_field :first_name, autofocus: true %>
        </div>
        <div class="row">
          <%= f.label :お名前カナ %>
        </div>
        <div class="row">
          <%= f.label :セイ %><%= f.text_field :last_name_kana %><%= f.label :メイ %><%= f.text_field :first_name_kana %>
        </div>
        <div class="row">
          <%= f.label :ニックネーム %>
        </div>
        <div class="row">
          <%= f.text_field :nickname %>
        </div>
        <div class="row">
          <%= f.label :郵便番号（ハイフンなし） %>
        </div>
        <div class="row">
          <%= f.text_field :postal_code %>
        </div>
        <div class="row">
          <%= f.label :ご住所 %>
        </div>
        <div class="row">
          <%= f.text_field :address %>
        </div>
        <div class="row">
          <%= f.label :電話番号（ハイフンなし） %>
        </div>
        <div class="row">
          <%= f.text_field :phone %>
        </div>
        <div class="actions">
          <%= f.submit "更新する" %>
        </div>
      <% end %>
    </div>
  </div>
</div>