<div class="container my-5">
  <div class="row">
    <div class="col-8 col-md-4 mx-auto">
      <h4>募集者情報編集</h4>
      <%= form_with model: @user, url: requester_update_user_path, method: :patch, local: true  do |f| %>
        <div class="row">
          <%= f.label :会員種別 %>
        </div>
        <div class="row">
          <%= f.radio_button :status, User.statuses.key(0) %>
          <%= f.label :status, User.statuses_i18n[:common] %><br>
          <%= f.radio_button :status, User.statuses.key(1) %>
          <%= f.label :status, User.statuses_i18n[:requester]%>
        </div>
        <div class="row">
          <%= f.label :募集者プロフィール %>
        </div>
        <div class="row">
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="row">
          <%= f.label :募集者紹介写真 %>
        </div>
        <div class="row">
          <%= f.file_field :requester_image, accept: "image/*" %>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= f.submit "更新する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>