<div class="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <h3><%= current_user.nickname %> さまのマイページ</h3>
      <table class="table">
        <tr>
          <td><%= link_to "会員情報の編集", edit_user_path %></td>
        </tr>
        <tr>
          <td><%= link_to "お気に入り一覧", favorites_user_path %></td>
        </tr>
        <tr>
          <td><%= link_to "お問い合わせ一覧", rooms_index_path %></td>
        </tr>
        <tr>
          <td><%= link_to "保護猫を掲載したい方のメニューに切り替える", requester_home_user_path %></td>
        </tr>
        <tr>
          <td><%= link_to "退会手続き", unsubscribe_user_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>