<div class="container-fuild my-5">
  <h4 class="d-flex justify-content-center mb-4"><%= @user.nickname %> さまのマイページ</h4>
  <div class="row">
    <div class="col-lg-2 ml-auto">
      <% if @user == current_user %>
      <table class="table text-brown">
        <tr>
          <td class="shadow-sm"><%= link_to "会員情報の編集", edit_user_path, class: "text-decoration-none text-brown" %></td>
        </tr>
        <tr>
          <td class="shadow-sm"><%= link_to "お気に入り一覧", favorites_user_path, class: "text-decoration-none text-brown" %></td>
        </tr>
        <tr>
          <td class="shadow-sm"><%= link_to "お問い合わせ一覧", rooms_path, class: "text-decoration-none text-brown" %></td>
        </tr>
        <tr>
          <td class="shadow-sm"><%= link_to "保護猫を掲載したい方のメニューに切り替える", requester_home_user_path, class: "text-decoration-none text-brown" %></td>
        </tr>
        <tr>
          <td class="shadow-sm"><%= link_to "退会手続き", unsubscribe_user_path, class: "text-decoration-none text-brown" %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-lg-8">
      <div class="d-flex justify-content-center">
      <h5>お気に入りした投稿</h5><h5>(全<%= @favorite_requests.count %>)件</h5>
      </div>
      <%= render 'public/requests/index', requests: @favorite_requests %>
    </div>
  </div>
</div>